@charset "utf-8";

/** @section Typography */

@font-face {
    font-family: "Kumbh Sans";
    src: url("fonts/KumbhSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Kumbh Sans";
    src: url("fonts/KumbhSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}